$red: #CC483E;
$blue: #0177BF;
$white: #fff;
$text-color: #410F10;

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$space-xxlarge:4rem;
$space-xlarge:2rem;
$space-large:1.5rem;
$space-medium:1rem;
$space-small:.5rem;
$space-tiny:.25rem;

$blue-border-bottom:$space-tiny solid $blue;
