.padding-lg {
  padding: 1.5rem; }

:root {
  --animate-duration: 1100ms;
  --animate-delay: 1s; }

.animate__animated.animate__bounceInDown {
  --animate-duration: 1500ms; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1a1a1a; }

strong {
  font-weight: 500; }

a {
  font-weight: 500;
  text-decoration: none;
  color: #CC483E;
  transition: color ease 0.65s; }
  a:hover {
    color: #0177BF; }

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin-bottom: 0; }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong {
    font-weight: 500; }

h1 {
  font-size: 2.369rem;
  line-height: 3rem; }
  @media (min-width: 992px) {
    h1 {
      font-size: 3.157rem;
      line-height: 4rem; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4.209rem;
      line-height: 5rem; } }

h2 {
  font-size: 1.777rem;
  line-height: 2.5rem; }
  @media (min-width: 992px) {
    h2 {
      font-size: 2.369rem;
      line-height: 3rem; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 3.157rem;
      line-height: 4rem; } }

h3 {
  font-size: 1.333rem;
  line-height: 1.5rem; }
  @media (min-width: 992px) {
    h3 {
      font-size: 1.777rem;
      line-height: 2.5rem; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 2.369rem;
      line-height: 3rem; } }

h4 {
  font-size: 1.333rem;
  line-height: 1.5rem; }
  @media (min-width: 1200px) {
    h4 {
      font-size: 1.777rem;
      line-height: 2.5rem; } }

svg,
img {
  max-width: 100%; }

ol,
ul {
  padding-left: 0;
  margin: 0; }

ul.list {
  padding-left: 1rem;
  list-style-type: disc; }
  ul.list li {
    margin: 0.25rem 0; }

ul, p {
  margin-bottom: 0; }
  ul + p,
  ul + ul,
  ul + h2,
  ul + h3,
  ul + .btn,
  ul + img, p + p,
  p + ul,
  p + h2,
  p + h3,
  p + .btn,
  p + img {
    margin-top: 1rem; }

h1 + h2,
h1 + h3,
h1 + .btn, h2 + h2,
h2 + h3,
h2 + .btn, h3 + h2,
h3 + h3,
h3 + .btn {
  margin-top: 1rem; }
h1 + p,
h1 + ul,
h1 + img, h2 + p,
h2 + ul,
h2 + img, h3 + p,
h3 + ul,
h3 + img {
  margin-top: 0.5rem; }

figcaption {
  font-size: .825rem;
  line-height: 1rem;
  padding-top: 0.5rem; }

.quote {
  font-size: 1.333rem;
  line-height: 1.5rem;
  font-family: "Oswald", sans-serif; }

.btn {
  background: #CC483E;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.333rem;
  line-height: 1.5rem;
  transition: background-color ease 0.65s; }
  @media (min-width: 992px) {
    .btn {
      font-size: 1.777rem;
      line-height: 2.5rem; } }
  @media (min-width: 992px) {
    .btn {
      padding: 0.5rem 1.5rem; } }
  .btn:hover {
    background: #0177BF;
    color: #fff; }

.blue {
  background: #0177BF;
  color: #fff; }
  .blue .btn:hover {
    background: #fff;
    color: #CC483E; }

.blue-light {
  background: #DCEEF8; }

.toggle {
  cursor: pointer; }

.toggle-content {
  display: none; }

.container {
  max-width: 1400px; }

*[class*='container'] {
  margin: 0 auto;
  padding: 1.5rem; }
  @media (min-width: 576px) {
    *[class*='container'] {
      padding: 3rem; } }
  @media (min-width: 768px) {
    *[class*='container'] {
      padding: 6rem 3rem; } }
  *[class*='container'] h1:first-of-type {
    font-weight: 500; }
  *[class*='container'] > *:first-child {
    margin-top: 0; }

div[class*='col-md-'] + div[class*='col-md'] {
  margin-top: 1rem; }
  @media (min-width: 768px) {
    div[class*='col-md-'] + div[class*='col-md'] {
      margin-top: 0; } }

div[class*='col-sm-'] + div[class*='col-sm'] {
  margin-top: 1rem; }
  @media (min-width: 576px) {
    div[class*='col-sm-'] + div[class*='col-sm'] {
      margin-top: 0; } }

/*HEADER*/
header {
  border-bottom: 0.25rem solid #0177BF;
  /*MOBILE NAV*/ }
  header .container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem; }
  header #logo {
    width: 30%; }
    @media (min-width: 576px) {
      header #logo {
        width: 12%; } }
    header #logo svg {
      fill: #CC483E;
      transition: fill ease 0.65s; }
      header #logo svg:hover {
        fill: #0177BF; }
  header nav {
    margin-left: auto;
    display: flex;
    justify-content: space-between; }
    header nav a {
      font-size: 1.333rem;
      line-height: 1.5rem;
      font-family: "Oswald", sans-serif; }
      @media (min-width: 1200px) {
        header nav a {
          font-size: 1.777rem;
          line-height: 2.5rem; } }
    @media (min-width: 768px) {
      header nav li + li {
        margin-left: 1.5rem; } }

/*HERO*/
section.hero {
  border-bottom: 0.25rem solid #0177BF; }
  section.hero .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    section.hero .container > *:not(img) {
      width: 100%; }
    section.hero .container > img {
      margin-left: auto;
      margin-right: auto; }
    section.hero .container > * {
      text-align: center; }
      section.hero .container > * + * {
        margin-top: 1.5rem; }
    @media (min-width: 576px) {
      section.hero .container > *:not(img), section.hero .container > * {
        width: calc(50%  - 1rem);
        text-align: left; }
        section.hero .container > *:not(img) + *, section.hero .container > * + * {
          margin-top: 0; } }
    @media (min-width: 768px) {
      section.hero .container > *:first-child {
        text-align: center; } }
  section.hero h2 {
    font-size: 1.333rem;
    line-height: 1.5rem; }
    @media (min-width: 992px) {
      section.hero h2 {
        font-size: 1.777rem;
        line-height: 2.5rem; } }
    @media (min-width: 1200px) {
      section.hero h2 {
        font-size: 2.369rem;
        line-height: 3rem; } }
  section.hero h3 {
    font-size: 1.333rem;
    line-height: 1.5rem; }
    @media (min-width: 1200px) {
      section.hero h3 {
        font-size: 1.777rem;
        line-height: 2.5rem; } }
  section.hero ul li {
    margin-bottom: 1rem; }
  section.hero p.callout {
    font-size: 1.777rem;
    line-height: 2.5rem;
    font-family: "Oswald", sans-serif; }
    @media (min-width: 992px) {
      section.hero p.callout {
        font-size: 2.369rem;
        line-height: 3rem; } }
    @media (min-width: 1200px) {
      section.hero p.callout {
        font-size: 3.157rem;
        line-height: 4rem; } }
  section.hero p.callout-md {
    font-size: 1.333rem;
    line-height: 1.5rem;
    font-family: "Oswald", sans-serif; }
    @media (min-width: 992px) {
      section.hero p.callout-md {
        font-size: 1.777rem;
        line-height: 2.5rem; } }
    @media (min-width: 1200px) {
      section.hero p.callout-md {
        font-size: 2.369rem;
        line-height: 3rem; } }
  section.hero .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center; }
    section.hero .buttons * + * {
      margin-left: 1rem; }
    @media (min-width: 768px) {
      section.hero .buttons {
        justify-content: flex-start; } }
  section.hero .image {
    display: none;
    text-align: center; }
    @media (min-width: 768px) {
      section.hero .image {
        display: block; } }
  section.hero.home h1 + h2 {
    margin-top: 0; }
  section.hero.case-study h1 {
    font-weight: 600; }
  section.hero.case-study ul.details:before {
    content: "";
    display: block;
    height: 4px;
    width: 6rem;
    background-color: #0177BF;
    margin: 1.5rem 0; }
  section.hero.case-study ul.details li h3 {
    font-weight: 500;
    font-size: 1.333rem;
    line-height: 1.5rem; }
    @media (min-width: 1200px) {
      section.hero.case-study ul.details li h3 {
        font-size: 1.777rem;
        line-height: 2.5rem; } }

/*HOMEPAGE*/
section.skills *[class*='container'] > h1,
section.work *[class*='container'] > h1 {
  text-align: center;
  font-size: 1.777rem;
  line-height: 2.5rem; }
  @media (min-width: 992px) {
    section.skills *[class*='container'] > h1,
    section.work *[class*='container'] > h1 {
      font-size: 2.369rem;
      line-height: 3rem; } }
  @media (min-width: 1200px) {
    section.skills *[class*='container'] > h1,
    section.work *[class*='container'] > h1 {
      font-size: 3.157rem;
      line-height: 4rem; } }
  @media (min-width: 768px) {
    section.skills *[class*='container'] > h1,
    section.work *[class*='container'] > h1 {
      padding-bottom: 1.5rem; } }

section.skills h2 {
  font-size: 1.333rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center; }
  @media (min-width: 992px) {
    section.skills h2 {
      font-size: 1.777rem;
      line-height: 2.5rem; } }
  @media (min-width: 1200px) {
    section.skills h2 {
      font-size: 2.369rem;
      line-height: 3rem; } }
section.skills *[class*='container'] {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  gap: 3rem;
  transition: all .5s ease; }
section.skills .skill {
  display: block;
  text-align: center;
  transition: all .5s ease; }
  section.skills .skill .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em; }
  section.skills .skill .fas {
    transition: transform 0.5s ease; }
  section.skills .skill.animate__animated.animate__fadeInDown:nth-of-type(2) {
    animation-delay: .5s; }
  section.skills .skill.animate__animated.animate__fadeInDown:nth-of-type(3) {
    animation-delay: 1s; }
  section.skills .skill.open .fas {
    transform: rotate(180deg); }
@media (min-width: 576px) {
  section.skills *[class*='container'] {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; }
    section.skills *[class*='container'] h1 {
      grid-area: 1 / 1 / 1 / 4; }
  section.skills .skill {
    display: block; }
  section.skills .btn {
    display: none; } }

section.work {
  border-bottom: 0.25rem solid #0177BF; }
  section.work article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 3rem; }
    section.work article > *:not(img) {
      width: 100%; }
    section.work article > img {
      margin-left: auto;
      margin-right: auto; }
    section.work article > * {
      text-align: center; }
      section.work article > * + * {
        margin-top: 1.5rem; }
    @media (min-width: 576px) {
      section.work article > *:not(img), section.work article > * {
        width: calc(50%  - 1rem);
        text-align: left; }
        section.work article > *:not(img) + *, section.work article > * + * {
          margin-top: 0; } }
    section.work article h1 {
      font-size: 1.777rem;
      line-height: 2.5rem; }
      @media (min-width: 992px) {
        section.work article h1 {
          font-size: 2.369rem;
          line-height: 3rem; } }
      @media (min-width: 1200px) {
        section.work article h1 {
          font-size: 3.157rem;
          line-height: 4rem; } }
    section.work article img {
      border: 1px solid #1a1a1a;
      cursor: pointer;
      transition: transform .5s ease, box-shadow .5s ease; }
      section.work article img:hover {
        transform: scale(1.02); }
    section.work article .tags {
      font-weight: 500; }
    section.work article .content {
      padding-top: 1rem;
      margin-bottom: 1rem; }
      section.work article .content * + * {
        margin-top: 1.5rem; }
      @media (min-width: 768px) {
        section.work article .content {
          padding-top: 0; } }
    @media (min-width: 768px) {
      section.work article:nth-of-type(2n) > *:first-child {
        order: 1; } }

/*FOOTER*/
footer {
  background-image: none; }
  @media (min-width: 576px) {
    footer {
      display: grid;
      grid-template-columns: 25% 1fr 25%; }
      footer .bg-image {
        display: block;
        background-size: auto 100%;
        background-repeat: no-repeat; }
      footer > div:first-of-type {
        background-image: url(../images/wiggle-left-bottom.png);
        background-position: right bottom; } }
    @media (min-width: 576px) and (min-width: 1400px) {
      footer > div:first-of-type {
        background-position: left bottom; } }
  @media (min-width: 576px) {
      footer > div:last-of-type {
        background-image: url(../images/wiggle-right-bottom.png);
        background-position: left bottom; } }
    @media (min-width: 576px) and (min-width: 1400px) {
      footer > div:last-of-type {
        background-position: right bottom; } }

  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0; }
    footer .container > * + * {
      margin-top: 1.5rem; }
  footer h1 {
    font-size: 1.777rem;
    line-height: 2.5rem; }
    @media (min-width: 992px) {
      footer h1 {
        font-size: 2.369rem;
        line-height: 3rem; } }
    @media (min-width: 1200px) {
      footer h1 {
        font-size: 3.157rem;
        line-height: 4rem; } }
  footer h2 {
    font-size: 1.333rem;
    line-height: 1.5rem; }
    @media (min-width: 992px) {
      footer h2 {
        font-size: 1.777rem;
        line-height: 2.5rem; } }
    @media (min-width: 1200px) {
      footer h2 {
        font-size: 2.369rem;
        line-height: 3rem; } }
  footer ul {
    display: flex; }
    footer ul li {
      font-size: 1.333rem;
      line-height: 1.5rem;
      font-family: "Oswald", sans-serif; }
      @media (min-width: 1200px) {
        footer ul li {
          font-size: 1.777rem;
          line-height: 2.5rem; } }
      footer ul li + li {
        margin-left: 1.5rem; }

section .row + .row {
  margin-top: 3rem; }
section .middle-heading.row {
  margin-top: 1.5rem; }
  section .middle-heading.row + .row {
    margin-top: 1rem; }

.faded-background {
  background: url(../images/wiggles-faded.jpg) center center no-repeat; }

.case-study-nav {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  position: relative; }
  @media (min-width: 576px) {
    .case-study-nav {
      flex-direction: row;
      align-items: center;
      justify-content: space-between; } }
  @media (min-width: 768px) {
    .case-study-nav {
      gap: 1.5rem;
      justify-content: center; } }
  @media (min-width: 992px) {
    .case-study-nav {
      gap: 3rem;
      margin-top: 1.5rem; } }
  .case-study-nav .line {
    display: none;
    width: 100%;
    height: 4px;
    background: #0177BF;
    position: absolute;
    top: 3em;
    left: 0;
    animation-delay: 1s; }
    @media (min-width: 576px) {
      .case-study-nav .line {
        display: block; } }
    @media (min-width: 768px) {
      .case-study-nav .line {
        top: 4.5em; } }
    @media (min-width: 1200px) {
      .case-study-nav .line {
        top: 6em; } }
  .case-study-nav li + li {
    margin-top: 1rem; }
    @media (min-width: 576px) {
      .case-study-nav li + li {
        margin-top: 0; } }
  .case-study-nav li.animate__animated.animate__fadeInDown:nth-of-type(2) {
    animation-delay: .25s; }
  .case-study-nav li.animate__animated.animate__fadeInDown:nth-of-type(3) {
    animation-delay: .5s; }
  .case-study-nav li.animate__animated.animate__fadeInDown:nth-of-type(4) {
    animation-delay: .75s; }
  .case-study-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color ease 0.65s;
    font-size: 1rem;
    line-height: 1.5rem; }
    @media (min-width: 768px) {
      .case-study-nav a {
        font-size: 1.333rem;
        line-height: 1.5rem; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .case-study-nav a {
      font-size: 1.777rem;
      line-height: 2.5rem; } }

    .case-study-nav a .circle {
      background-color: #CC483E;
      border-radius: 50%;
      width: 6.5em;
      height: 6.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: background-color ease 0.65s;
      background-image: url(../images/blue-wiggles-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      margin-bottom: 0.5rem; }
      .case-study-nav a .circle:before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        background-color: #CC483E;
        transition: background-color ease 0.65s;
        z-index: 0; }
    .case-study-nav a .icon {
      margin: 1em;
      width: 4.5em;
      height: 4.5em; }
    .case-study-nav a svg {
      fill: #fff;
      z-index: 1;
      position: relative;
      transition: fill ease 0.65s; }
    .case-study-nav a:hover .circle {
      background-color: #0177BF; }
      .case-study-nav a:hover .circle:before {
        background-color: transparent; }

.process-title {
  text-align: center; }
  .process-title *[class*='container-'] {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .process-title + *[class*='container-'] {
    padding-top: 3rem; }

section.process h2 {
  font-size: 1.333rem;
  line-height: 1.5rem;
  font-weight: 500; }
  @media (min-width: 992px) {
    section.process h2 {
      font-size: 1.777rem;
      line-height: 2.5rem; } }
  @media (min-width: 1200px) {
    section.process h2 {
      font-size: 2.369rem;
      line-height: 3rem; } }
section.process h3 {
  font-size: 1.333rem;
  line-height: 1.5rem; }
  @media (min-width: 1200px) {
    section.process h3 {
      font-size: 1.777rem;
      line-height: 2.5rem; } }
section.process img {
  border: 1px solid #000; }

.key-findings ul {
  padding-left: 2rem; }
  .key-findings ul li {
    font-size: 1.333rem;
    line-height: 1.5rem;
    font-family: "Oswald", sans-serif;
    margin: 1rem 0; }
    @media (min-width: 1200px) {
      .key-findings ul li {
        font-size: 1.777rem;
        line-height: 2.5rem; } }

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: stretch; }
  .quotes > *:not(img) {
    width: 100%; }
  .quotes > img {
    margin-left: auto;
    margin-right: auto; }
  .quotes > * {
    text-align: center; }
    .quotes > * + * {
      margin-top: 1.5rem; }
  @media (min-width: 768px) {
    .quotes > *:not(img), .quotes > * {
      width: calc(33.33%  - 1rem);
      text-align: left; }
      .quotes > *:not(img) + *, .quotes > * + * {
        margin-top: 0; } }

.boxes {
  margin: 3rem 0;
  text-align: center; }
  .boxes .box {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .boxes .fas {
    color: #0177BF;
    padding-bottom: 1rem;
    font-size: 2em; }

section#ideation .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: stretch; }
  section#ideation .boxes > *:not(img) {
    width: 100%; }
  section#ideation .boxes > img {
    margin-left: auto;
    margin-right: auto; }
  section#ideation .boxes > * {
    text-align: center; }
    section#ideation .boxes > * + * {
      margin-top: 1.5rem; }
  @media (min-width: 768px) {
    section#ideation .boxes > *:not(img), section#ideation .boxes > * {
      width: calc(50%  - 1rem);
      text-align: left; }
      section#ideation .boxes > *:not(img) + *, section#ideation .boxes > * + * {
        margin-top: 0; } }
  section#ideation .boxes .box {
    justify-content: flex-start; }

.proto-images .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .proto-images .images > *:not(img) {
    width: 100%; }
  .proto-images .images > img {
    margin-left: auto;
    margin-right: auto; }
  .proto-images .images > * {
    text-align: center; }
    .proto-images .images > * + * {
      margin-top: 1.5rem; }
  @media (min-width: 576px) {
    .proto-images .images > *:not(img), .proto-images .images > * {
      width: calc(45%  - 1rem);
      text-align: left; }
      .proto-images .images > *:not(img) + *, .proto-images .images > * + * {
        margin-top: 0; } }
  @media (min-width: 576px) {
    .proto-images .images > *:nth-child(n + 3) {
      margin-top: 1rem; } }
  @media (min-width: 768px) {
    .proto-images .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      .proto-images .images > *:not(img) {
        width: 100%; }
      .proto-images .images > img {
        margin-left: auto;
        margin-right: auto; }
      .proto-images .images > * {
        text-align: center; }
        .proto-images .images > * + * {
          margin-top: 1.5rem; } }
  @media (min-width: 768px) and (min-width: 576px) {
    .proto-images .images > *:not(img), .proto-images .images > * {
      width: calc(33.33%  - 1rem);
      text-align: left; }
      .proto-images .images > *:not(img) + *, .proto-images .images > * + * {
        margin-top: 0; } }
  @media (min-width: 768px) {
      .proto-images .images > *:nth-child(n + 3) {
        margin-top: 0; }
      .proto-images .images > *:nth-child(n + 4) {
        margin-top: 1rem; } }
  @media (min-width: 992px) {
    .proto-images .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      .proto-images .images > *:not(img) {
        width: 100%; }
      .proto-images .images > img {
        margin-left: auto;
        margin-right: auto; }
      .proto-images .images > * {
        text-align: center; }
        .proto-images .images > * + * {
          margin-top: 1.5rem; } }
  @media (min-width: 992px) and (min-width: 576px) {
    .proto-images .images > *:not(img), .proto-images .images > * {
      width: calc(16.66%  - 1rem);
      text-align: left; }
      .proto-images .images > *:not(img) + *, .proto-images .images > * + * {
        margin-top: 0; } }
  @media (min-width: 992px) {
      .proto-images .images > *:nth-child(n + 4) {
        margin-top: 0; } }
.proto-images.sketches .images {
  flex-direction: column; }
  @media (min-width: 576px) {
    .proto-images.sketches .images {
      flex-direction: row; } }

.iteration .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .iteration .images > *:not(img) {
    width: 100%; }
  .iteration .images > img {
    margin-left: auto;
    margin-right: auto; }
  .iteration .images > * {
    text-align: center; }
    .iteration .images > * + * {
      margin-top: 1.5rem; }
  @media (min-width: 576px) {
    .iteration .images > *:not(img), .iteration .images > * {
      width: calc(50%  - 1rem);
      text-align: left; }
      .iteration .images > *:not(img) + *, .iteration .images > * + * {
        margin-top: 0; } }
section.process .iteration img {
  border: 0; }

section.iterations > h2 {
  text-align: center;
  margin: 1.5rem 0; }
@media (min-width: 768px) {
  section.iterations div:nth-of-type(2n) > *:first-child {
    order: 1; } }

.col-md-12 > h2 {
  text-align: center;
  padding-bottom: 1rem; }

.iterations-headline {
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
