@import 'variables';
@import 'mixins';
@import 'keyframes';

body{
    font-family: $secondary-font;
    font-weight:$font-normal;
    @include body-text;
    color:$text-color;
}

strong{
    font-weight:$font-bold;
}

a{
    font-weight:$font-bold;
    text-decoration: none;
    color:$red;
    @include transition(color);
    &:hover{
        color:$blue;
    }
}

h1,
h2,
h3,
h4{
    font-family:$primary-font;
    font-weight:$font-normal;
    margin-bottom:0;
    strong{
        font-weight:$font-bold;
    }
}

h1{
    @include heading-xl;
}

h2{
    @include heading-lg;
}

h3{
    @include heading-md;
}

h4{
    @include heading-sm;
}

svg,
img{
    max-width: 100%;
}

ol,
ul{
    padding-left:0;
    margin:0;
}

ul.list{
    padding-left:1rem;
    list-style-type: disc;
    li{
        margin:$space-xs 0;
    }
}

ul, p{
    margin-bottom:0;
    + p,
    + ul,
    + h2,
    + h3,
    + .btn,
    + img{
        margin-top:$space-md;
    }
}

h1, h2, h3{
    + h2,
    + h3,
    + .btn{
        margin-top:$space-md;
    }
    + p,
    + ul,
    + img{
        margin-top:$space-sm;
    }
}

figcaption{
    @include body-small-font-size;
    padding-top:$space-sm;
}

.quote{
    @include xs-font-size;
    font-family:$primary-font;
}

.btn{
    @include btn;
}

.blue{
    background:$blue    ;
    color:$white;
}

.blue-light{
    background:$blue-light;
}

.toggle{
    cursor:pointer;
}

.toggle-content{
    display:none;
}

.container{
    max-width:$width-xxl;
}

*[class*='container']{
    margin:0 auto;
    padding:$space-lg;

    @include breakpoint(sm){
        padding:$space-xl;
    }
    @include breakpoint(md){
        padding:$space-xxl $space-xl;
    }
    h1:first-of-type{
        font-weight:$font-bold;
    }
}

div[class*='col-md-']{
    + div[class*='col-md']{
        margin-top:$space-md;
        @include breakpoint(md){
            margin-top:0;
        }
    }
    
}

div[class*='col-sm-']{
    + div[class*='col-sm']{
        margin-top:$space-md;
        @include breakpoint(sm){
            margin-top:0;
        }
    }
    
}


/*HEADER*/
header{
    border-bottom:$blue-border; 
    .container{
        display:flex;
        align-items:center;
        padding:$space-sm $space-lg;
    }
    #logo{
        width:30%;
        @include breakpoint(sm){
            width:12%;
        }
        svg{
            fill:$red;
            @include transition(fill);
            &:hover{
                fill:$blue;
            }
        }
    }
    nav{
        margin-left:auto;
        display:flex;
        justify-content: space-between;
        a{
            @include heading-sm;
            font-family:$primary-font;
        }
        li{
            @include breakpoint(md){
                + li{
                    margin-left:$space-lg;
                }
            }
        }
    }
    /*MOBILE NAV*/

}


/*HERO*/
section.hero{
    border-bottom:$blue-border;         
    .container{
        @include layout(50%);
        @include breakpoint(md){
            & > *:first-child{
                text-align: center;
            }
        }
    }
    h2{
        @include heading-md;
    }
    h3{
        @include heading-sm;
    }
    p{
        @include heading-lg;
        font-family: $primary-font;
    }
    ul li{
        margin-bottom:$space-md;
    }
    .buttons{
        margin-top:$space-md;
        display:flex;
        justify-content: center;
        * + *{
            margin-left:$space-md;
        }
        @include breakpoint(md){
            justify-content: flex-start;
        }
    }
    .image{
        display:none;
        text-align: center;
        @include breakpoint(md){
            display:block;
        } 
        
    }
}

/*HOMEPAGE*/    
section.skills,
section.work{
    *[class*='container'] > h1{
        text-align:center;
        @include heading-lg;
        @include breakpoint(md){
            padding-bottom:$space-lg;
        }
    }
}

section.skills{
    h2{
        @include heading-md;
        padding-bottom:$space-sm;
        text-align: center;
    }
    *[class*='container']{
        max-width:$width-xl;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        gap: $space-xl;
        transition:all .5s ease;
    }
    .skill{
        display:block;
        text-align: center;
        transition:all .5s ease;
        .heading{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5em;
        }
        .fas{
            // display: none;
            transition:transform 0.5s ease;
        }
        // .toggle-content{
        //     display:none;
        // }
    
        &.animate__animated.animate__fadeInDown{
            &:nth-of-type(2){
                animation-delay: .5s;
            }
            &:nth-of-type(3){
                animation-delay: 1s;
            }
        }
        &.open{
            .fas{
                transform: rotate(180deg);
            }
        }
    }
    // @include breakpoint(sm){
    //     .skill{
    //         display:grid;
    //         grid-template-columns:1fr 3fr;
    //         grid-template-rows:auto;
    //         gap: $space-xlarge;
    //     }
    // }
    @include breakpoint(sm){
        *[class*='container']{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto;
            h1{
                grid-area: 1 / 1 / 1 / 4;
            }
        }
        .skill{
            display:block;
        }
        .btn{
            display:none;
        }
    }
    // @include breakpoint(md){
    //     .skill{
    //         .fas{
    //             display: block;
    //         }
    //         .toggle-content{
    //             text-align:left;
    //         }
    //     }
    // }
    
    

}

section.work{
    border-bottom: $blue-border;
    article{
        @include layout(50%);
        margin-top:$space-xl;
        padding-bottom:$space-xl;
        h1{
            @include heading-lg;
        }
        img{
            border:1px solid $text-color;
            cursor:pointer;
            transition:transform .5s ease, box-shadow .5s ease;
            &:hover{
                transform: scale(1.02);
            }
        }
        .tags{
            font-weight:$font-bold;
        }
        .content{
            * + *{
                margin-top:$space-lg;
            }
            padding-top:$space-md;
            margin-bottom:$space-md;
            @include breakpoint(md){
                padding-top:0;
            }
        }
        @include breakpoint(md){
            &:nth-of-type(2n){
                & > *:first-child{
                    order:1;
                }
            }
        }
    }
}

/*FOOTER*/
footer{
    background-image:none;
    @include breakpoint(sm){
        display:grid;
        grid-template-columns: 25% 1fr 25%;
        .bg-image{
            display:block;
            background-size:auto 100%;
            background-repeat:no-repeat;
        }
        > div:first-of-type{
            background-image:url(../images/wiggle-left-bottom.png);
            background-position:right bottom;
        }
        > div:last-of-type{
            background-image:url(../images/wiggle-right-bottom.png);
            background-position:left bottom;
        }
    }
    
    .container{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align: center;
        padding:$space-lg 0;
        > * + *{
            margin-top:$space-lg;
        }
    }
    h1{
        @include heading-lg;
    }
    h2{
        @include heading-md;
    }
    ul{
        display:flex;
        li{
          @include heading-sm;
          font-family: $primary-font;  
          + li{
              margin-left:$space-lg;
          }
        }
    }
}

/*CASE STUDY*/
// .gridImageArea{
//     display:grid;
//     min-height: 500px;
//     height: 70vh;
//     grid-template-rows: 75% 25%;
//     grid-template-columns: 75% 25%;
//     grid-template-areas:
//     "photo photo"
//     "photo mockup";

//   .photo {
//     grid-area: photo;
//     background-image: url("../images/safetrips/cover-photo.jpg");
//   }
  
//   .mockup {
//     grid-area: mockup;
//     background-image: url("../images/safetrips/mobile-airline-info.png");
//   }

//   .gridImage{
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: cover;
//         align-items: center;
//         display: flex;
//         position: relative;
//   }
// }

section.hero.case-study{
    h1{
        font-weight:600;
    }
    ul.details{
        &:before{
            content:"";
            display:block;
            height:4px;
            width:$space-xxl;
            background-color:$blue;
            margin:$space-lg 0;
        }
        li{
            h3{
                font-weight:$font-bold;
                @include heading-sm;
            }
        }
    }
}

section{
    .row + .row{
        margin-top:$space-xl;
    }
    .middle-heading.row {
        margin-top:$space-lg;
        & + .row{
            margin-top:$space-md;
        }
    }
}

.faded-background{
    background:url(../images/wiggles-faded.jpg) center center no-repeat;
}

.case-study-nav{
    display:flex;
    flex-direction: column;
    margin-top:0;
    position: relative;
    @include breakpoint(sm){
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
    }
    @include breakpoint(md){
        gap:$space-lg;
        justify-content: center;
    }
    @include breakpoint(lg){
        gap:$space-xl;
        margin-top:$space-lg;
    }
    .line{
        display:none;
        width:100%;
        height:4px;
        background:$blue;
        position:absolute;
        top:3em;
        left:0;
        animation-delay: 1s;
        @include breakpoint(sm){
            display:block;
        }
        @include breakpoint(md){
            top:4.5em;
        }
        @include breakpoint(xl){
            top:6em;
        }
    }
    li{
        + li{
            margin-top:$space-md;
            @include breakpoint(sm){
                margin-top:0;
            }
        }
        &.animate__animated.animate__fadeInDown{
            &:nth-of-type(2){
                animation-delay: .25s;
            }
            &:nth-of-type(3){
                animation-delay: .5s;
            }
            &:nth-of-type(4){
                animation-delay: .75s;
            }
        }
    }
    a{
        display:flex;
        flex-direction:column;
        align-items:center;
        @include transition(color);
        @include body-font-size;
        @include breakpoint(md){
            @include heading-sm;
        }
        .circle{
            background-color:$red;
            border-radius: 50%;
            width:6.5em;
            height:6.5em;
            display:flex;
            flex-direction:column;
            align-items:center;
            @include transition(background-color);
            background-image:url(../images/blue-wiggles-bg.png);
            background-size:cover;
            background-repeat: no-repeat;
            position:relative;
            margin-bottom:$space-sm;
            &:before{
                content:'';
                display:block;
                position:absolute;
                border-radius: 50%;
                height:100%;
                width:100%;
                background-color:$red;
                @include transition(background-color);
                z-index:0;
            }

        }        
        .icon{
            margin:1em;
            width:4.5em;
            height:4.5em;
        }
        svg{
            fill:$white;
            z-index:1;
            position:relative;
            @include transition(fill);
        }
        &:hover{
            .circle{
                background-color:$blue;
                &:before{
                    background-color:transparent;
                }
            }
            
        
        }
        
    }
    
    
}

.process-title{
    text-align: center;
    *[class*='container-']{
        padding-top:$space-lg;
        padding-bottom:$space-lg;
    }
    + *[class*='container-']{
        padding-top:$space-xl;
    
    }
}

section.process{
    h2{
        @include heading-md;
        font-weight:$font-bold;
    }
    h3{
        @include heading-sm;
    }
    img{
        border:1px solid $black;
    }
}

.key-findings {
    ul {
        padding-left: 2rem;
        li{
            @include heading-sm;
            font-family: $primary-font;
            margin:$space-md 0;
        }
    }
}

.boxes{
    margin:$space-xl 0;
    text-align:center;
    align-items:stretch;
    .box{
        padding:$space-lg;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        text-align: center;
    }
    .fas{
        color:$blue;
        padding-bottom:$space-md;
        font-size:2em;
    }
}
.quotes{
    @include layout(33.33%);
}



.proto-images{
    .images{
        @include layout(16.66%);
    }
}

.iteration{
    .images{
        @include layout(50%);
        
    }
    section.process & img{
        border:0;
    }
}

section.iterations{
    > h2{
        text-align:center;
        margin:$space-lg 0;
    }
    @include breakpoint(md){
        div:nth-of-type(2n){
            & > *:first-child{
                order:1;
            }
        }
    }

}

.col-md-12{
    > h2{
        text-align:center;
        padding-bottom:$space-md;
    }
}

.iterations-headline{
    margin:0;
}
