@import 'variables';
@import 'mixins';
@import 'keyframes';

body{
    font-family: $secondary-font;
    font-weight:$font-normal;
    @include body-text;
    color:$text-color;
}

strong{
    font-weight:$font-bold;
}

a{
    font-weight:$font-bold;
    text-decoration: none;
    color:$red;
    @include transition(color);
    &:hover{
        color:$blue;
    }
}

h1,
h2,
h3,
h4{
    font-family:$primary-font;
    font-weight:$font-normal;
    margin-bottom:0;
    strong{
        font-weight:$font-bold;
    }
}

h1{
    @include heading-xl;
}

h2{
    @include heading-lg;
}

h3{
    @include heading-md;
}

h4{
    @include heading-sm;
}

svg,
img{
    max-width: 100%;
}

ol,
ul{
    padding-left:0;
    margin:0;
}

ul.list{
    padding-left:1rem;
    list-style-type: disc;
    li{
        margin:$space-xs 0;
    }
}

ul, p{
    margin-bottom:0;
    + p,
    + ul{
        margin-top:$space-md;
    }
}

figcaption{
    @include small-font-size;
    padding-top:$space-sm;
}

.quote{
    @include xs-font-size;
    font-family:$primary-font;
}

.btn{
    @include btn;
}

.blue{
    background:$blue    ;
    color:$white;
}

.blue-light{
    background:$blue-light;
}

.toggle{
    cursor:pointer;
}

.toggle-content{
    display:none;
}

.container{
    max-width:$width-xxl;
    margin:0 auto;
    padding:$space-xl;
    @include breakpoint(md){
        padding:$space-xxl $space-xl;
    }
    h1:first-of-type{
        font-weight:$font-bold;
    }
}

/*HEADER*/
header{
    border-bottom:$blue-border-bottom; 
    .container{
        display:flex;
        align-items:center;
        padding:$space-sm $space-lg;
    }
    #logo{
        width:30%;
        @include breakpoint(sm){
            width:12%;
        }
        svg{
            fill:$red;
            @include transition(fill);
            &:hover{
                fill:$blue;
            }
        }
    }
    nav{
        margin-left:auto;
        display:flex;
        justify-content: space-between;
        a{
            @include heading-xs;
            font-family:$primary-font;
            text-transform: lowercase;
            + a{
                margin-left:$space-lg;
            }
        }
    }
    /*MOBILE NAV*/

}


/*HERO*/
section.hero{
    border-bottom:$blue-border-bottom;         
    .container{
        @include layout(50%);
        @include breakpoint(md){
            & > *:first-child{
                text-align: center;
            }
        }
    }
    h2{
        @include heading-md;
    }
    h3{
        @include heading-sm;
    }
    p{
        @include heading-lg;
        font-family: $primary-font;
    }
    ul li{
        margin-bottom:$space-md;
    }
    .buttons{
        margin-top:$space-md;
        display:flex;
        justify-content: center;
        * + *{
            margin-left:$space-md;
        }
        @include breakpoint(md){
            justify-content: flex-start;
        }
    }
    .image{
        display:none;
        text-align: center;
        @include breakpoint(md){
            display:block;
        } 
        
    }
}

/*HOMEPAGE*/    
section.skills,
section.work{
    .container > h1{
        text-align:center;
        @include heading-lg;
        @include breakpoint(md){
            padding-bottom:$space-lg;
        }
    }
}

section.skills{
    h2{
        @include heading-md;
        padding-bottom:$space-sm;
        text-align: center;
    }
    .container{
        max-width:$width-xl;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        gap: $space-xl;
        transition:all .5s ease;
    }
    .skill{
        display:block;
        text-align: center;
        transition:all .5s ease;
        .heading{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5em;
        }
        .fas{
            // display: none;
            transition:transform 0.5s ease;
        }
        // .toggle-content{
        //     display:none;
        // }
    
        &.animate__animated.animate__fadeInDown{
            &:nth-of-type(2){
                animation-delay: .5s;
            }
            &:nth-of-type(3){
                animation-delay: 1s;
            }
        }
        &.open{
            .fas{
                transform: rotate(180deg);
            }
        }
    }
    // @include breakpoint(sm){
    //     .skill{
    //         display:grid;
    //         grid-template-columns:1fr 3fr;
    //         grid-template-rows:auto;
    //         gap: $space-xlarge;
    //     }
    // }
    @include breakpoint(sm){
        .container{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto;
            h1{
                grid-area: 1 / 1 / 1 / 4;
            }
        }
        .skill{
            display:block;
        }
        .btn{
            display:none;
        }
    }
    // @include breakpoint(md){
    //     .skill{
    //         .fas{
    //             display: block;
    //         }
    //         .toggle-content{
    //             text-align:left;
    //         }
    //     }
    // }
    
    

}

section.work{
    border-bottom: $blue-border-bottom;
    article{
        @include layout(50%);
        margin-top:$space-xl;
        padding-bottom:$space-xl;
        h1{
            @include heading-lg;
        }
        img{
            border:1px solid $text-color;
            cursor:pointer;
            transition:transform .5s ease, box-shadow .5s ease;
            &:hover{
                transform: scale(1.02);
                // box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
                // -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
                // -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.1);
            }
        }
        .tags{
            font-weight:$font-bold;
        }
        .content{
            * + *{
                margin-top:$space-lg;
            }
            padding-top:$space-md;
            margin-bottom:$space-md;
            @include breakpoint(md){
                padding-top:0;
            }
        }
        @include breakpoint(md){
            &:nth-of-type(2n){
                & > *:first-child{
                    order:1;
                }
            }
        }
    }
}

/*FOOTER*/
footer{
    background-image:none;
    @include breakpoint(sm){
        display:grid;
        grid-template-columns: 25% 1fr 25%;
        .bg-image{
            display:block;
            background-size:auto 100%;
            background-repeat:no-repeat;
        }
        > div:first-of-type{
            background-image:url(../images/wiggle-left-bottom.png);
            background-position:right bottom;
        }
        > div:last-of-type{
            background-image:url(../images/wiggle-right-bottom.png);
            background-position:left bottom;
        }
    }
    
    
    @include breakpoint(lg){
        // .bg-image{
        //     display:none;
        // }
        // display:block;
        // background-image: url(../images/wiggle-left-bottom.png), url(../images/wiggle-right-bottom.png);
        // background-position: left bottom, right bottom;
        // background-repeat: no-repeat, no-repeat;
        // background-size:contain;
    }
    .container{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align: center;
        > * + *{
            margin-top:$space-lg;
        }
    }
    h1{
        @include heading-lg;
    }
    h2{
        @include heading-md;
    }
    ul{
        display:flex;
        li{
          @include heading-sm;
          font-family: $primary-font;  
          + li{
              margin-left:$space-lg;
          }
        }
    }
}

/*CASE STUDY*/
// .gridImageArea{
//     display:grid;
//     min-height: 500px;
//     height: 70vh;
//     grid-template-rows: 75% 25%;
//     grid-template-columns: 75% 25%;
//     grid-template-areas:
//     "photo photo"
//     "photo mockup";

//   .photo {
//     grid-area: photo;
//     background-image: url("../images/safetrips/cover-photo.jpg");
//   }
  
//   .mockup {
//     grid-area: mockup;
//     background-image: url("../images/safetrips/mobile-airline-info.png");
//   }

//   .gridImage{
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: cover;
//         align-items: center;
//         display: flex;
//         position: relative;
//   }
// }

section.hero.case-study{
    h1{
        font-weight:600;
    }
    ul.details{
        &:before{
            content:"";
            display:block;
            height:4px;
            width:$space-xxl;
            background-color:$blue;
            margin:$space-lg 0;
        }
        li{
            h3{
                font-weight:$font-bold;
                @include heading-xs;
            }
        }
    }
}

section{
    h1, h2, h3, p{
        + h2,
        + h3{
            margin-top:$space-md;
        }
    }
    .row + .row{
        margin-top:$space-xl;
    }
}

.case-study-nav{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:$space-md;
    a{
        display:flex;
        flex-direction:column;
        align-items:center;
        @include sm-font-size;
        img{
            margin-bottom:$space-sm;
        }
    }
}

.process-title{
    text-align: center;
    .container{
        padding-top:$space-lg;
        padding-bottom:$space-lg;
    }
    + .container{
        padding-top:$space-xl;
    }
}

section.process{
    h2{
        @include heading-md;
        font-weight:$font-bold;
    }
    h3{
        @include heading-sm;
    }
    img{
        border:1px solid $black;
    }
}

.key-findings {
    ul {
        padding-left: 2rem;
        li{
        @include heading-sm;
        font-family: $primary-font;
        }
    }
}

.quotes{
    margin:$space-xl 0;
    text-align:center;
    @include layout(33.33%);
    .quote{
        padding:$space-lg;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        text-align: center;
    }
    .fas{
        color:$blue;
        padding-bottom:$space-md;
        font-size:2em;
    }
}

.padding-lg{
    padding:$space-lg;
}

.proto-images{
    .images{
        @include layout(16.66%);
    }
}

.iteration{
    .images{
        @include layout(50%);
        
    }
    section.process & img{
        border:0;
    }
}

.col-md-12{
    > h2{
        text-align:center;
        padding-bottom:$space-md;
    }
}

